<ion-view>
  <ion-header-bar class="bar-stable">
    <h1 class="title">RSS Reader</h1>
  </ion-header-bar>
  <ion-content>
    <div class="row">
      <div class="col col-33">
        <div class="list">

          <div class="item item-input-inset" ng-init="request.path=url">
            <label class="item-input-wrapper">
              <input
                ng-value="url";
                ng-model="request.path"
                type="text" placeholder="feed">
            </label>
            <button class="button button-small"
                    ng-click="submit(request, true)">Submit</button>
          </div>

        </div>
        <div class="list" >
          <div class="item item-button-right"
               ng-repeat="feed in feedLst | orderBy:'-date'"
               ng-init="request.path=feed.feedUrl"
               ng-model="request.path"
               ng-click="submit(request, false)"
               class="item item-button-right">
            {{feed.title}}
            <button class="button button-clear"
              ng-click="remove()">
              <i class="icon ion-ios-close-empty"></i>
            </button>
          </div>

        </div>

      </div>
      <div class="col">
        <ion-list class="list">
          <ion-item
            class="item item-text-wrap"
            ng-repeat="item in items track by $index">
            <h2>{{item.title}} - {{ item.publishedDate}}</h2>
            <span ng-bind-html="item.content"></span>

          </ion-item>
        </ion-list>
      </div>
    </div>


  </ion-content>
</ion-view>
