<ion-view>
  <ion-header-bar class="bar-stable">
    <h1 class="title">{{ url }}</h1>
  </ion-header-bar>
  <ion-content>
    <div class="row">
      <div class="col col-33">
        <div class="list">

          <div class="item item-input-inset">
            <label class="item-input-wrapper">
              <input
                ng-model="request.path"
                type="text" placeholder="feed">
            </label>
            <button class="button button-small"
                    ng-click="submit(request)">Submit</button>
          </div>

        </div>
        <div class="list card" ng-repeat="feed in feedLst | orderBy : '-date'" >
          <div class="item item-body item-button-right"
            ng-click="getFeed(feed, $index)"
               ng-if="feed.selected" style="background-color: silver">{{feed.feedUrl}}
            <button class="button button-stable"
              ng-click="remove($index)">
              <i class="icon ion-ios-close-empty"></i>
            </button>
          </div>
          <div class="item item-body item-button-right"
               ng-click="getFeed(feed, $index)"
               ng-if="!feed.selected" >{{feed.feedUrl}}
            <button class="button button-stable"
                    ng-click="remove($index)">
              <i class="icon ion-ios-close-empty"></i>
            </button>
          </div>

        </div>

      </div>
      <div class="col">
        <feed-item></feed-item>
      </div>
    </div>


  </ion-content>
</ion-view>
